@reference '@/index.css';

@layer utilities {
  .input-field {
    @apply bg-tristesse-0 border-davys-grey-100 text-davys-grey-0 font-['Aileron'] pl-[10px] text-[1.15rem]! py-[26px] text-selago-0 rounded-xl;
  }

  .scrollable-container {
    @apply flex-1 min-h-0 overflow-y-auto overflow-x-hidden w-[99%];
  }

  .button-styling {
    @apply bg-schiava-blue text-white border-2 border-schiava-blue-dark py-7.5 px-19 rounded-[64px] hover:bg-transparent hover:scale-102 transition-all duration-300 font-['Aileron'] font-semibold text-[1.575rem] hover:cursor-pointer hover:text-schiava-blue-light hover:border-schiava-blue-light;
  }

  .scrollable-container::-webkit-scrollbar {
    width: 3px;
  }

  .scrollable-container::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollable-container::-webkit-scrollbar-thumb {
    background: var(--color-selago-0);
    border-radius: 9999px;
  }

  .scrollable-container::-webkit-scrollbar-button {
    display: hidden;
  }

  .spinner {
    @apply h-4 w-4 animate-spin rounded-full border-2 border-white border-t-transparent;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.4s ease-out;
}
