@reference '@/index.css';

@layer utilities {
  .input-field {
    @apply bg-tristesse-0 border-davys-grey-100 text-davys-grey-0 font-['Aileron'] placeholder:font-['instrument-serif'] placeholder:italic pl-[8px] text-[1rem]!;
  }

  .scrollable-container {
    @apply flex-1 min-h-0 overflow-y-auto overflow-x-hidden w-[99%];
  }

  .button-styling {
    @apply bg-schiava-blue text-white border-2 border-schiava-blue-dark py-5 px-12 rounded-[64px] hover:bg-schiava-blue-dark hover:scale-102 transition-all duration-300 font-['Aileron'] font-semibold text-[1.575rem] hover:cursor-pointer;
  }

  .scrollable-container::-webkit-scrollbar {
    width: 3px;
  }

  .scrollable-container::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollable-container::-webkit-scrollbar-thumb {
    background: var(--color-selago-0);
    border-radius: 9999px;
  }

  .scrollable-container::-webkit-scrollbar-button {
    display: hidden;
  }

  .spinner {
    @apply h-4 w-4 animate-spin rounded-full border-2 border-white border-t-transparent;
  }
}
